body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 30px;
}

#containerPrincipale {
    height: 100%;
    background: repeating-conic-gradient(from 45deg, #00a0a0 0% 25%, rgb(0, 180, 180, 1) 0% 50%);
    background-size: 10px 10px;
    background-color: rgb(0, 180, 180, 1);
}

#containerSotto {
    padding: 0% 4%;
    height: 90%;
}

#pig {
    cursor: pointer;
    transition: transform 0.3s;
}

#pig:active {
    transform: scale(0.95);
    /* Rimpicciolisci leggermente l'immagine */
}

#containerPig {
    padding: 100px 0;
    text-align: center;
}


#totalHamRow {
    padding-bottom: 50px;
    text-align: center;
    font-size: 40px;
}


.upgrades {
    text-align: center;
    border: 2px solid black;
    box-shadow: 10px;
    background-color: aqua;
    height: 90px;
    align-items: center;
    margin: 0 !important;
    margin: 10px 0 !important;
}

.upgradeButtons {
    width: 120px;
    height: 70px;
    opacity: 1 !important;
    padding: 0 !important;
    border: 2px solid black !important;
}

.upgradeButtons:active {
    transform: scale(0.95);
}

.colUpg {
    text-align: right !important;

}

#upgrade {
    background: repeating-conic-gradient(from 45deg, rgba(0, 180, 180, 0.3) 0% 25%, rgba(0, 190, 190, 0.3) 0% 50%);
    background-size: 10px 10px;
    background-color: rgba(0, 190, 190, 0.3);
    border: 1px solid black;
    padding: 10px;
}












.explosion {
    position: absolute;
    animation: explode 0.8s forwards;
    pointer-events: none;
    /* Imposta l'elemento come non interattivo */
}

@keyframes explode {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.4);
        opacity: 0.8;
    }
}

.ham-img {
    position: absolute;
    width: 100px;
    height: 100px;
}

.ham-counter {
    position: absolute;
    top: -20px;
    left: 12px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: bold;
}






#footer {
    padding: 20px 0 0 0;
    /* padding sopra e sotto il footer */
    position: fixed;
    /* posizione fissa in basso */
    width: 100%;
    /* larghezza del footer */
    bottom: 0;
    /* posiziona il footer in fondo */
}